[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
pylint = "*"
ebooklib = "*"
nltk = "*"
bs4 = "*"
sqlalchemy = "~=1.4.19"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.9"
